
# =================================================================
# Dependencies
# '**/<pattern>'은 모든 하위 폴더를 포함하여 일치하는 것을 찾습니다.
# =================================================================
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
pnpm-lock.yaml


# =================================================================
# Build & Distribution
# =================================================================
**/dist/
**/build/
**/out/
**/.next/
**/.svelte-kit/


# =================================================================
# Logs
# =================================================================
**/logs/
**/*.log


# =================================================================
# Environment Variables
# 민감한 정보는 프로젝트 내 어디에 있든 무시되어야 합니다.
# =================================================================
**/.env
**/.env.local
**/.env.*.local
!**/.env.example


# =================================================================
# OS / Editor Specific
# =================================================================
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/


# =================================================================
# Temporary & Coverage
# =================================================================
**/coverage/
**/*.tmp
